@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.attribution { 
    font-size: 11px; 
    text-align: center; 
    z-index: 5; 
    position:absolute
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body {
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    overflow: hidden;
}

.outside {
    display: flex;
    z-index: -2;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#topcircle {
    position: absolute;
    top: -640px;
    left: -185px;
    height: 1000px;
    width: 1000px;
    z-index: -1;
}

#bottomcircle {
    position: absolute;
    bottom: -710px;
    right: -85px;
    height: 1000px;
    width: 1000px;
    z-index: -1;
}

.cardcontainer{
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;

}

#patterncard {
    border-radius: 15px 15px 0px 0px;
}

#cardbox{
    width: 350px;
    height: 225px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
}

.circle {
    height: 109px;
    width: 109px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    z-index: 3;
    left: 46.4%;
    bottom: 51.2%;
    position: absolute;
  }

  .ASL{
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      color: gray;
      padding-top: 70px;
  }

  .location{
      display:flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      color: gray;
      padding-top: 10px;
      font-size: 0.85em;
  }

  #piccontainer {
      display: flex;
      position: absolute;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
    
  }
 
  .vicpic {
    border-radius: 50%;
    left: 46.8%;
    bottom: 52.3%;
    position: absolute;
    z-index: 6;
  }

  mark.black {
    color:#000000;
    background: none;
    font-weight: 700;
  }

  .likes {
      display: flex;
      position: absolute;


  }